<%#include "group.h" %>
<% tfetch(Group, group); %>
<h1 class="title">Create a new quiz for</h1>
<h2 class="subtitle"><%= group.name() %></h2>
<a class="button is-link is-outline is-small" href="<%== url("quiz", "create", group.id()) %>">
  <span>Create a new quiz <i class="fas fa-plus"></i></span>
</a>
