<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="educational, multi-purpose, real-time">
  <meta name="description" content="CWL">
  <title>CWL</title>

  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="CWL">
  <meta property="og:description" content="Educational site with entertaining content.">
  <meta property="og:image" content="">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="">
  <meta property="twitter:title" content="CWL">
  <meta property="twitter:description" content="Educational site with entertaining content.">
  <meta property="twitter:image" content="">

  <script src="/js/bulma.js" defer></script>

  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="/css/bulma.min.css" rel="stylesheet">
  <link href="/css/all.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
</head>
<body>
<%== yield() %>
<%== renderPartial("footer") %>
</body>
</html>