<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"><i class="fas fa-user-edit"></i> CWL</h1>
      <h6 class="subtitle">An educational tool to enhance your learning experience</h6>
    </div>
  </div>
</section>
<div class="box">
  <p class="has-text-centered">
    <span class="tag is-info">NEW</span> An updated and ready to go version to help teachers.
  </p>
</div>
<section class="container">
  <div class="columns pt-6 pb-6">
    <div class="column is-4">
      <div class="card has-shadow mb-2">
        <div class="card-image has-text-centered">
          <i class="fa fa-user fa-6x pt-2 pb-2 has-text-info"></i>
        </div>
        <div class="card-content">
          <div class="content mt-1 ml-1">
            <h4>User friendly</h4>
            <p>We wanted to build a user friendly application which is easy to use and built for a large crowd of users.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card has-shadow mb-2">
        <div class="card-image has-text-centered">
          <i class="fa fa-level-up-alt fa-6x pt-2 pb-2 has-text-info"></i>
        </div>
        <div class="card-content">
          <div class="content mt-1 ml-1">
            <h4>Competitive learning</h4>
            <p>We wanted to build a fun way to take your tests made possible using it in a competitive manner.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card has-shadow mb-2">
        <div class="card-image has-text-centered">
          <i class="fa fa-cogs fa-6x pt-2 pb-2 has-text-info"></i>
        </div>
        <div class="card-content">
          <div class="content mt-1 ml-1">
            <h4>Complexity</h4>
            <p>The web application offers a large variety of options to choose and tools for students and teachers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>