<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>CWL</strong> made for a better educational process, made with <i class="fas fa-heart has-text-danger"></i> by <strong>Elon Musk's acolytes</strong>
    </p>
  </div>
</footer>